detections/
Cookbooks/
Reference Papers/
pyklip/
pyklip_full/
results/
debug_retrieve_flux/
retrievals*/
.idea/
FURF/
HD1160 Results/
HR8799 Results/
HDcubes/
*.pdf
*.png
*.fits
*.txt
*.gitignore
*.xml
*.csv
*.xlsx
*.docx
*.doc
